<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{{ title }}</title>

<link rel="stylesheet" href="winterblues.css" type="text/css">

</head>
<body>

<div class='text'>
Note: This is the fahrplan rendered out of the official published xml file.<br>
It will have links to the recordings if available.
</div>

<table border='1'>
  <tr>
    {% for i in range(1,5) %}
    <th>
      <a href="fahrplan_d{{ i }}.html">Day {{ i }}</a>
    </th>
    {% endfor %}
  </tr>
</table>

<table border='1'>
<tr>
  <th>
    Now
  </th>
  <th>
    Time
  </th>
  {% for room in rooms %}
  <th>
    {{room}}
  </th>
  {% endfor %}
</tr>

{% for time in timeIntervals %}
  <tr>
    <td style="border:none;
      {% if currentTime == time %}
      background-color: red;
      {% endif %}
      ">
      &nbsp;
    </td>
    {% if time.minute == 0 %}
    <td rowspan=12>
      {{ time }}
    </td>
    {% endif %}

      {% for room in rooms %}
        {% for talk in talks[room] %}
          {% if talk.startDate == time %}
            <td rowspan={{ ((talk.endDate - talk.startDate).total_seconds() / (5*60)) | int }} >
            <a href="{{ talkDetailUrl.format(talk.id) }}">
            <b>{{ talk.titleText }}</b><br>
            </a>
              {{ talk.subtitleText }}<br>
              <em>{{ talk.id }}</em>
              {% if talk.urls|length > 0 %}
              <p>Recordings:
                <ul>
                {% for name, url in talk.urls.items() %}
                <li>
                  <a href="{{ url }}">{{ name }}</a>
                </li>
                {% endfor %}
                </ul>

              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </tr>
{% endfor %}

</table>
 
</body>
</html>
